
.color_gray {
  background-color: #C8C8C8;
}

img {
  border-radius: 50%;
  // height: 120px;
  width: 150px;
  margin-top: -110px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.shadow_bg {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.font_bold {
  font-weight: bold;
}

.font_mali {
  font-family: 'Mali';
}